body {
  background: black;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body, a {
  color: white;
}

a:visited {
  color: #bbb;
}

main {
  display: block;
  position: absolute;
}

section {
  display: block;
  position: relative;
  float: left;
}

#navigation {
  width: 20%;
}

#content {
  width: 80%;
}

#wrapper {
  margin: auto;
  display: block;
  position: relative;
  width: 975px;
}

#photos {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 520px;
}

#photos::-webkit-scrollbar {
  display: none;
}

#photos > img {
  margin: 10px;
  max-height: 490px;
  display: inline-block;
}
